@mixin text-with-shadow($fon-size, $text-color: white) {
  font-size: $fon-size;
  line-height: 1.2;
  color: $text-color;
  text-shadow: 1px 0 0 #000, -1px 0px 0px #000, 0px 1px 0px #000, 0px -1px 0px #000, 0px 1px 4px #000;
}